@inherits BookingReservationCalculationViewModel

<style>
    .k-window .k-edit-form-container {
        max-height: 80vh;
        overflow: auto;
        overflow-x: hidden;
    }
</style>

<div class="irx-container">
    <h5>@Title</h5>

    <TelerikGrid Data=@boatlist
                 EditMode="@GridEditMode.Popup"
                 Sortable="true">
        <GridToolBar>
            <div style="display: flex; justify-content: center; width: 100%;">
                <strong style="display: flex; justify-content: center; width: 100%;">Boats in queue</strong>
            </div>
        </GridToolBar>
        <GridColumns>

            @if (IsMedium)
            {
                <GridColumn Field=@nameof(BookingQueueItem.CustomerName) Title="Customer" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatName) Title="Boat" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatLength) Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatWidth) Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatDepth) Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.QueuedDate) Editable="false">
                    <Template>
                        @((context as BookingQueueItem).QueuedDate.ToString("yyyy-MM-dd"))
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.Comment) Width="0.01%">
                </GridColumn>
            }
            else if (IsSmall)
            {
                <GridColumn Field=@nameof(BookingQueueItem.CustomerName) Title="Customer" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatName) Title="Boat" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatLength) Editable="false" Width="0.01%"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatWidth) Editable="false" Width="0.01%"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatDepth) Editable="false" Width="0.01%"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.QueuedDate) Editable="false">
                    <Template>
                        @((context as BookingQueueItem).QueuedDate.ToString("yyyy-MM-dd"))
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.Comment) Width="0.01%">
                </GridColumn>
            }
            else
            {
                <GridColumn Field=@nameof(BookingQueueItem.CustomerName) Title="Customer" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatName) Title="Boat" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatLength) Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatWidth) Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatDepth) Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.QueuedDate) Editable="false">
                    <Template>
                        @((context as BookingQueueItem).QueuedDate.ToString("yyyy-MM-dd"))
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.Comment)>
                </GridColumn>
            }

        </GridColumns>
    </TelerikGrid>
    <br />
    <br />
    <TelerikGrid Data=@mooringlist
                 EditMode="@GridEditMode.Popup"
                 Sortable="true">
        <GridToolBar>
            <div style="display: flex; justify-content: center; width: 100%;">
                <strong style="display: flex; justify-content: center; width: 100%;">Free Moorings</strong>
            </div>
        </GridToolBar>
        <GridColumns>

            @if (IsMedium)
            {
                <GridColumn Field=@nameof(BookingMooring.Name) />
                <GridColumn Field=@nameof(BookingMooring.Type) />
                <GridColumn Field=@nameof(BookingMooring.Length) />
                <GridColumn Field=@nameof(BookingMooring.Width) />
                <GridColumn Field=@nameof(BookingMooring.Depth) />
            }
            else if (IsSmall)
            {
                <GridColumn Field=@nameof(BookingMooring.Name) />
                <GridColumn Field=@nameof(BookingMooring.Type) />
                <GridColumn Field=@nameof(BookingMooring.Length) Width="0.01%" />
                <GridColumn Field=@nameof(BookingMooring.Width) Width="0.01%" />
                <GridColumn Field=@nameof(BookingMooring.Depth) Width="0.01%" />
            }
            else
            {
                <GridColumn Field=@nameof(BookingMooring.Name) />
                <GridColumn Field=@nameof(BookingMooring.Type) />
                <GridColumn Field=@nameof(BookingMooring.Length) />
                <GridColumn Field=@nameof(BookingMooring.Width) />
                <GridColumn Field=@nameof(BookingMooring.Depth) />
            }

        </GridColumns>
    </TelerikGrid>
    <br />
    <br />
    <TelerikButton OnClick="@Calculate" Enabled="@BoatsAndMooringIsLoaded">Click to Calculate</TelerikButton>
    <br />
    <br />

    @if (prelist.Any())
    {
        <TelerikGrid Data=@prelist
                     EditMode="@GridEditMode.Popup"
                     Sortable="true">
            <GridToolBar>
                <div style="display: flex; justify-content: center; width: 100%;">
                    <strong style="display: flex; justify-content: center; width: 100%;">Pre Calculated result based on the lists above</strong>
                </div>
            </GridToolBar>
            <GridColumns>

                <GridColumn Field=@nameof(BookingReservation.MooringName) Title="Mooring">
                </GridColumn>
                <GridColumn Field=@nameof(BookingReservation.BoatName) Title="Boat">
                </GridColumn>
                <GridColumn Field=@nameof(BookingReservation.CustomerName) Title="Customer">
                </GridColumn>

            </GridColumns>
        </TelerikGrid>
    }

    <MediaQuery Media="@Breakpoints.OnlyMedium" @bind-Matches="IsMedium" />
    <MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="IsSmall" />
</div>
