@inherits BookingReservationCalculationViewModel

<style>
    .k-window .k-edit-form-container {
        max-height: 80vh;
        overflow: auto;
        overflow-x: hidden;
    }
</style>

<div class="irx-container">
    <h5>@Title</h5>

    <TelerikGrid Data=@prelist
                 Sortable="true">
        <GridToolBar>
            <div style="display: flex; justify-content: center; width: 100%;">
                <TelerikButton OnClick="@CalculateBoats" Enabled="@mooringlist.Any()">Calculate by clicking here</TelerikButton>
            </div>
        </GridToolBar>
        <GridColumns>

            <GridColumn Field=@nameof(BookingReservation.MooringName) Title="Best Mooring">
            </GridColumn>
            <GridColumn Field=@nameof(BookingReservation.BoatName) Title="For Boat">
            </GridColumn>
            <GridColumn Field=@nameof(BookingReservation.CustomerName) Title="Customer">
            </GridColumn>

        </GridColumns>
    </TelerikGrid>
    <br /><br />
    <TelerikGrid Data=@boatlist
                 Sortable="true">
        <GridToolBar>
            <div style="display: flex; justify-content: center; width: 100%;">
                <strong style="display: flex; justify-content: center; width: 100%;">Boats in queue</strong>
            </div>
        </GridToolBar>
        <GridColumns>

            @if (IsMedium)
            {
                <GridColumn Field=@nameof(BookingQueueItem.CustomerName) Title="Customer" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatName) Title="Boat" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatLength) Title="Boat Length" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatWidth) Title="Boat Width" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatDepth) Title="Boat Depth" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.QueuedDate) Editable="false">
                    <Template>
                        @((context as BookingQueueItem).QueuedDate.ToString("yyyy-MM-dd"))
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.Comment) Width="0.01%">
                </GridColumn>
            }
            else if (IsSmall)
            {
                <GridColumn Field=@nameof(BookingQueueItem.CustomerName) Title="Customer" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatName) Title="Boat" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatLength) Title="Boat Length" Editable="false" Width="0.01%"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatWidth) Title="Boat Width" Editable="false" Width="0.01%"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatDepth) Title="Boat Depth" Editable="false" Width="0.01%"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.QueuedDate) Editable="false">
                    <Template>
                        @((context as BookingQueueItem).QueuedDate.ToString("yyyy-MM-dd"))
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.Comment) Width="0.01%">
                </GridColumn>
            }
            else
            {
                <GridColumn Field=@nameof(BookingQueueItem.CustomerName) Title="Customer" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatName) Title="Boat" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatLength) Title="Boat Length" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatWidth) Title="Boat Width" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.BoatDepth) Title="Boat Depth" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.QueuedDate) Editable="false">
                    <Template>
                        @((context as BookingQueueItem).QueuedDate.ToString("yyyy-MM-dd"))
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(BookingQueueItem.Comment)>
                </GridColumn>
            }

        </GridColumns>
    </TelerikGrid>
    <br />
    <br />
    <TelerikGrid Data=@mooringlist
                 Sortable="true">
        <GridToolBar>
            <div style="display: flex; justify-content: center; width: 100%;">
                <strong style="display: flex; justify-content: center; width: 100%;">Free Moorings</strong>
            </div>
        </GridToolBar>
        <GridColumns>

            @if (IsMedium)
            {
                <GridColumn Field=@nameof(BookingMooring.Name) />
                <GridColumn Field=@nameof(BookingMooring.Type) />
                <GridColumn Field=@nameof(BookingMooring.Length) Title="Max Length" />
                <GridColumn Field=@nameof(BookingMooring.Width) Title="Max Width" />
                <GridColumn Field=@nameof(BookingMooring.Depth) Title="Max Depth" />
            }
            else if (IsSmall)
            {
                <GridColumn Field=@nameof(BookingMooring.Name) />
                <GridColumn Field=@nameof(BookingMooring.Type) />
                <GridColumn Field=@nameof(BookingMooring.Length) Title="Max Length" Width="0.01%" />
                <GridColumn Field=@nameof(BookingMooring.Width) Title="Max Width" Width="0.01%" />
                <GridColumn Field=@nameof(BookingMooring.Depth) Title="Max Depth" Width="0.01%" />
            }
            else
            {
                <GridColumn Field=@nameof(BookingMooring.Name) />
                <GridColumn Field=@nameof(BookingMooring.Type) />
                <GridColumn Field=@nameof(BookingMooring.Length) Title="Max Length" />
                <GridColumn Field=@nameof(BookingMooring.Width) Title="Max Width" />
                <GridColumn Field=@nameof(BookingMooring.Depth) Title="Max Depth" />
            }

        </GridColumns>
    </TelerikGrid>
    <br />
    <br />


    <MediaQuery Media="@Breakpoints.OnlyMedium" @bind-Matches="IsMedium" />
    <MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="IsSmall" />
</div>
