@inherits BookingQueuesViewModel

<style>
    .k-window .k-edit-form-container {
        max-height: 80vh;
        overflow: auto;
        overflow-x: hidden;
    }
</style>

<div class="irx-container">
    <h5>@Title</h5>
    <TelerikGrid Data=@list
                 EditMode="@GridEditMode.Popup"
                 Sortable="true"
                 OnCreate="@CreateHandler"
                 OnDelete="@DeleteHandler"
                 OnUpdate="@UpdateHandler">
        <GridToolBar>
            <div style="display: flex; justify-content: center;">
                <GridCommandButton Command="Add" Icon="add">Add Queue Item</GridCommandButton>
            </div>
        </GridToolBar>
        <GridColumns>

            <GridColumn Field=@nameof(BookingQueueItem.BoatName) Title="Boat">
                <EditorTemplate>
                    @{ selectedItem = context as BookingQueueItem;

                        <TelerikDropDownList Data="@BookingCustomerData" @bind-Value="@BookingCustomerToEdit.Value"
                                             Width="170px"
                                             TextField="Text"
                                             ValueField="Value">
                        </TelerikDropDownList> }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(BookingQueueItem.BoatLength) Editable="false" >
            </GridColumn>
            <GridColumn Field=@nameof(BookingQueueItem.BoatWidth) Editable="false" >
            </GridColumn>
            <GridColumn Field=@nameof(BookingQueueItem.BoatDepth) Editable="false" >
            </GridColumn>
            <GridColumn Field=@nameof(BookingQueueItem.Comment)>
            </GridColumn>

            <GridCommandColumn Width="120px">
                <div style="display: flex; flex-direction: row;">
                    <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
                </div>
            </GridCommandColumn>

        </GridColumns>
    </TelerikGrid>

    <MediaQuery Media="@Breakpoints.OnlyMedium" @bind-Matches="IsMedium" />
    <MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="IsSmall" />
</div>
