@inherits BookingCustomerViewModel

<style>
    .k-window .k-edit-form-container {
        max-height: 90vh;
        overflow: auto;
        overflow-x: hidden;
    }
</style>

<div class="irx-container">
    <h5>@Title</h5>

    <TelerikGrid Data=@list
                 EditMode="@GridEditMode.Popup"
                 Sortable="true"
                 OnCreate="@CreateHandler" 
                 OnUpdate="@UpdateHandler"
                 OnDelete="@DeleteHandler">
        <GridToolBar>
            <GridCommandButton Command="Add" Icon="add">Add Customer</GridCommandButton>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field=@nameof(BookingCustomer.FirstName) Title="Firstname" />
            <GridColumn Field=@nameof(BookingCustomer.LastName) Title="Lastname" />
            <GridColumn Field=@nameof(BookingCustomer.Address) Title="Address" />
            <GridColumn Field=@nameof(BookingCustomer.PostalCode) Title="Postal" />
            <GridColumn Field=@nameof(BookingCustomer.City) Title="City" />
            <GridColumn Field=@nameof(BookingCustomer.Country) Title="Country" />
            <GridColumn Field=@nameof(BookingCustomer.PhoneNumber) Title="Phone" />
            <GridColumn Field=@nameof(BookingCustomer.EmailAddress) Title="Email" />
            <GridColumn Field=@nameof(BookingCustomer.RegNumber) Title="Regnumber" />
            <GridCommandColumn Width="240px">
                <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>
